@{
    int delay = Request["sleep"].AsInt();
    System.Threading.Thread.Sleep(delay);
}

@if (delay == 0) {
<p>Pass the sleep on the query string (in ms). e.g. <a href="?sleep=2000">?sleep=2000</a></p>
}
else {
<p>Slept @(delay)ms.</p>
}
